.drawer-container {
  min-height: 100vh;

  #headerDrawer {
    min-width: 200px;
    max-width: 200px;
    max-height: 100vh;

    @media screen and (max-width: 959px) {
      max-width: 100% !important;
      min-width: 100%;
    }

    @media screen and (min-width: 959px) {
      background: transparent !important;
    }
  }

  .drawer-content {
    max-height: 100vh;
    .drawer-header {
      position: sticky;
      top: -1px;
      //background: transparent;
      z-index: 1;
    }
  }

}
