.blogs-table {
  img {
    object-fit: contain;
    max-width: 75px;
    aspect-ratio: 1;
  }

  .blog-desc {
    font-size: 14px;
    font-weight: normal;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}
