.personal-attributes {

  b {
    font-size: 26px;
  }

  .personal-attribute {
    margin-bottom: 20px;

    .title {
      opacity: .8;
    }

    .value {
      font-weight: 600;
    }
  }
}

.cv-download-btn {
  padding: 0 1rem;
  border-radius: 15px;
  transition: all 0.5s ease-in-out;
  &:hover {
    background-color: var(--custom-primary-color);
    color: white;
  }
}
