.header-drawer {
  padding-top: 1rem;

  .drawer-links {
    a {
      align-self: center;
      align-items: center;
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      height: 50px;
      list-style: none;
      margin: 20px 0;
      position: relative;
      transition: .3s;
      min-width: 50px;
      border: 1px solid var(--custom-primary-color);

      mat-icon {
        z-index: 2;
      }

      .link-name {
        border-radius: 30px;
        font-weight: 500;
        height: 50px;
        line-height: 50px;
        margin: 0;
        opacity: 0;
        padding: 0 25px 0 30px;
        position: absolute;
        right: 0;
        top: 0;
        transition: all .3s;
        z-index: 1;
        width: max-content;
        font-size: 14px;
      }

      &:hover {
        background-color: var(--custom-primary-color);
        border-radius: 30px;
        place-content: start !important;
        width: 80% !important;

        .link-name {
          background: var(--custom-primary-color);
          border-radius: 30px 0 0 30px;
          margin: 0;
          opacity: 1;
          right: 27px;
          text-align: center;
        }
      }
    }
  }

}
