<div fxLayout="column" fxLayoutAlign="space-between stretch"
     class="header-drawer h-100">

  <div fxLayout="row" fxHide.gt-md
       fxLayoutAlign="end center">
    <button mat-icon-button color="warn"
            (click)="appService.headerSidenav = sidenavStatus.close">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <image-lazy ngClass.gt-md="p-3 px-4 clickable" routerLink="/"
              (click)="appService.windowWidth < 959 ? (appService.headerSidenav = sidenavStatus.close) : null"
              [ngStyle.lt-md]="{'max-width': '100px', 'align-self': 'center'}"
              [src]="settingService.setting.logo"
              [alt]="settingService.setting.logo"></image-lazy>

  <div fxLayout="column" fxLayoutAlign="start stretch"
       class="drawer-links" fxLayoutGap="7px">
    <a *ngFor="let link of links" [routerLink]="link.link"
       fxLayout="row" fxLayoutAlign="center center"
       class="p-2 text-center" (click)="appService.windowWidth < 959 ? (appService.headerSidenav = sidenavStatus.close) : null">
      <mat-icon color="accent">{{link.icon}}</mat-icon>
      <span class="link-name">{{link.name}}</span>
    </a>
  </div>

  <label class="switch" fxHide.lt-md>
    <input class="switch__checkbox" [checked]="appService.theme == 'dark'"
           (click)="appService.toggleTheme()" type="checkbox">
    <span class="switch__toggle"></span>
    Toggle dark mode
  </label>

</div>
