.header-drawer {
  padding-top: 1rem;
  z-index: 10000000000 !important;

  .drawer-links {
    a {
      border-top: 1px solid #282828;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: var(--custom-primary-color);
      }
    }
    &:last-child {
      border-bottom: 1px solid #282828;
    }
  }

}
