<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="main" role="main">
                    <div class="wrapper-content">
                        <div class="title-wrapper">
                            <h1 class="title">Oops ...</h1>
                        </div>
                        <div class="btn-wrapper">
                            <button type="button" (click)="refreshPage()" mat-raised-button color="primary"
                                class="btn">Reload</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>